<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/header.css">
</head>
<body>
    <header>
        <div class="header">
            <a href="../pages/index.html"><div class="headerlogo">
                <i class="fa-brands fa-vimeo-v" style="font-size: 90px"></i>
                <p class="content">Ecommerce</p>
            </div></a>
            <div class="search-box">
            <input type="text" placeholder="Tìm sản phẩm..." />
            <button type="submit"><i class="fas fa-search"></i></button>
            </div>
            <ul>
                <li><a href="../pages/dangnhap.html" id="loginNav">Đăng nhập</a></li>
                <li><a href="../pages/giohang.html">Giỏ Hàng</a></li>
                <li><a href="../pages/danhsachdonhang.html">Đơn Hàng</a></li>
                <li><a href="../pages/vechungtoi.html">Về Chúng Tôi</a></li>
            </ul>
    </header>
    <script src="../js/header.js"></script>
</body>
</html>